*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 13px;
}

body {
    background-color: #ddc7ce;
    background-image: url('./assets/cup.png');
    background-repeat: no-repeat;
    background-position: 600px 30%;
    color: #512c63;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 904px;
}

.textarea {
    resize: none;
    width: 100%;
    height: 280px;
    margin-top: 100px;
    padding: 15px;
    resize: none;
    font-size: 20px;
}

.textarea:focus {
    outline: none;
    border-color: #9b85a5;
    box-shadow: 0 0 10px #745f7e;
}

.keyboard {
    position: relative;
    margin-top: 30px;
    border: 5px solid #9b85a5;
    border-radius: 3px;
    padding: 12px;
    user-select: none;
}

.keyboard_box-key{
    height: 40px;
    width: 39px;
    padding: 8px 27.5px;
    margin: 3px;
    color: white;
    background-color: #a582a7;
    border-radius: 3px;
}

.keyboard_box-key:hover {
    cursor: pointer;
    background-color: #865d88;
}

.keyboard_row {
	display: flex;
	justify-content: center;
} 


.pressed {
    height: 38px;
    width: 35px;
    padding: 10px 26px;
    transition: all 0.1s;
    background-color: #865d88;
    border: 1px solid white;
}

.keyboard_box-key:hover {
    padding: 10px 25px;
    transition: all 0.1s;
    background-color: #865d88;
    border: 1px solid white;
}

.keyboard_box-key-space{
    width: 355px;
}

.keyboard_box-key-wide {
    position: absolute;
    right: 8px;
    top: 55px;
    height: 87px;
    padding-top: 40px;  
    padding-left: 10px; 
    width: 60px;
}


.keyboard_box-key-extra {
    width: 86px;
    font-size: 11px;
}

.reference {
    text-align: center;
    font-size: 14px;
}